body {
  margin: 20px;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #414141;
  color: white;
}

h1 {
  font-family: 'Major Mono Display', monospace;
  margin-bottom: 40px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #ee6e73d9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.profile-img {
  border: white 2px solid;
  float: right;
  padding: 10px;
}

.content {
  margin: 25px;
}

.nav-wrapper {
  padding: 5px 25px 10px 25px;
}

li {
  cursor: pointer;
}

li:hover {
  color: #4d4d4d;
}

.mainEl {
  padding-right: 30px;
}

.sideEl {
  color: #ee6e73;
  text-align: center;
}

main {
  margin: 15px 25px;
}

.technology {
  display: inline-grid;
  column-gap: 20px;
  row-gap: 30px;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.tech {
  font-size: 64px;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-content: space-between;
  font-size: 32px;
  margin: 20px 200px;
}

label {
  font-size: 20px;
  color: white;
  margin: 10px 0;
}

input {
  color: white;
}

textarea {
  height: 150px;
}

button {
  margin: 15px;
}